/**
 * PoliteJS Worspace - Single Page App Builder
 * ===========================================
 *
 * The following comment (FEATURES) is a placeholder for `src/features` less
 * source inclusion instructions which are automagically created by Workspace
 *
 * If you remove it then you are responsible of loading all LESS files for
 * each feature.
 */


@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300);
@import "assets/less/reset.less";


body {
    width: 100%;
    background: #000;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}






/**
 * INPUTBOX
 * ================
 */

#inputbox div {
    position: relative;
    text-align: right;
    padding: 20px;
}

#inputbox div:first-child  {
    border-bottom: 1px dashed #c2c2c2;
}


#inputbox .active:before {
    content: ' ';
    
    position: absolute;
    top: 9px;
    left:0;
    
    display: block;
    width: 70px;
    height: 50px;
    
    background-image: url(assets://img/greenarrow.png);
    background-position: 15px;
    background-repeat: no-repeat;

    
//    -webkit-animation: blink 1s;
//    -webkit-animation-iteration-count: infinite;
//    -moz-animation: blink 1s;
//    -moz-animation-iteration-count: infinite;
//    -o-animation: blink 1s;
//    -o-animation-iteration-count: infinite;  
//    -webkit-transition: opacity 0.5s ease;
}

#inputbox span {
    font-size: 2em;
}

#inputbox small {
    margin-left: 5px;
}




/**
 * Blinking animation
 */
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





/**
 * KEYPAD
 */

#keypad {
    background: #c2c2c2;
}


#keypad td {
    padding: 22px 25px;
    text-align: center;
    color: #020001;
    text-shadow: 0 1px #ccc;
    font-size: 1.6em;
}

#keypad td.active {
    background: #c6c6c6;
    color: #fff;
}
    
#keypad .inputbutton {
    background: #1b7a2a;
    color: #fff;    
}
    




/*FEATURES*/
